click==8.0.3
Cython==0.29.24
joblib==1.1.0
nltk==3.2.5
numpy==1.19.5
pandas==1.1.5
python-dateutil==2.8.2
python-dotenv==0.19.1
pytz==2018.9
regex==2019.12.20
scikit-learn
scikit-image
scipy
six==1.15.0
smart-open==5.2.1
sqlparse==0.4.2
afinn==0.1
matplotlib==3.2.2
matplotlib-inline==0.1.3
matplotlib-venn==0.11.6
sklearn
sklearn-pandas==1.8.0
streamlit
